body {
  background: var(--light-grey);
  color: var(--black);
  font-size: 14px;
  line-height: 16px;
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  a {
    text-decoration: none;
    color: var(--main);
  }
}