.mainMenuWrapper {
  width: 250px;
  padding: 30px 0 30px 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  border-right: 1px solid var(--light-grey);
  .mainLogo {
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    text-align: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .mainMenu {
    padding: 20px 0;
    .mainMenuTitle {
      color: var(--grey);
      font-size: 12px;
      padding: 12px 16px;
    }
    .mainMenuElement {
      display: block;
      position: relative;
      padding: 8px 18px;
      text-decoration: none;
      color: var(--grey);
      transition: all .6s;
      &.active {
        color: var(--black);
        svg {
          color: var(--main);
        }
        &:after {
          height: 100%;
          width: 4px;
          background: var(--main);
        }
      }
      &:hover {
        color: var(--black);
        &:after {
          height: 100%;
          width: 4px;
        }
      }
      svg {
        width: 20px;
        text-align: center;
        margin-right: 10px;
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 0;
        height: 0;
        background: var(--grey);
        transform: translateY(-50%);
        transition: all .6s;
      }
    }
  }
}