:root {
  --black: #4b4b4b;
  --white: #FFFFFF;
  --main: #083D77;
  --main-light: #296FC0;

  --darker-grey: #666;
  --dark-grey: #999;
  --grey: #DCDCDC;
  --light-grey: #EFEFEF;

  --red: #DB3A34;
  --yellow: #FF9000;
  --blue: #3590F3;
  --green: #93C752;
}