.companyFilter {
  padding: 12px calc((100% - 1100px) / 2);
  .inputWrapper {
    position: relative;
    background: rgba(0,0,0,.05);
    border-bottom: 1px solid var(--dark-grey);
    svg {
      position: absolute;
      left: 8px;
      top: 50%;
      color: var(--dark-grey);
      transform: translateY(-50%);
      z-index: 0;
    }
    input {
      position: relative;
      z-index: 1;
      appearance: none;
      border-width: 0;
      background: transparent;
      padding: 8px 16px 8px 28px;
    }
  }
}


@media (max-width: 1100px) {
  .companyFilter {
    padding: 0 20px;
  }
}