.CompaniesWraper {
  padding: 0 calc((100% - 1140px) / 2)
}
.companyCard {
  margin: 20px;
  background: var(--white);
  border-radius: 4px;
  padding: 12px;
  box-shadow: 0 1px 2px 2px rgba(0,0,0,.1);
  .colTitle {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 4px 0;
    svg {
      display: inline-block;
      margin-right: 8px;
      color: var(--dark-grey);
      font-size: 12px;
    }
  }
  .discovered {
    display: flex;
    align-items: center;
    font-size: 10px;
    .discoveredBy {
      width: 100%;
    }
    .daysLeft {
      white-space: nowrap;
      background: var(--main);
      color: var(--white);
      padding: 4px 8px;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 4px;
    }
  }
  .company {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
    border-bottom: 1px solid var(--light-grey);
    .logo {
      width: 50px;
      height: 50px;
      background: var(--light-grey);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--grey);
    }
    .info {
      font-weight: bold;
      overflow: hidden;
      .name {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 140%;
      }
      .links {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }
    .match {
      white-space: nowrap;
      color: var(--green);
      margin-left: auto;
      align-self: flex-end;
    }
  }
  .investors {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid var(--light-grey);
  }
  .blurb {
    padding: 8px 0;
    p {
      padding: 4px 0;
      color: var(--darker-grey);
    }
  }
  .extraInfo {
    display: flex;
    flex-wrap: wrap;
    color: var(--darker-grey);
    .extraCol {
      width: calc(100% / 3);
      padding: 8px 0;
      margin-bottom: 12px;
    }
    .colTitle {
      color: var(--black);
    }
  }
  .actions {
    display: flex;
    margin: 0 -12px -12px -12px;
    border-top: 1px solid var(--light-grey);
    button {
      appearance: none;
      border-width: 0;
      background: white;
      padding: 24px 12px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-weight: bold;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      &:before {
        content: '';
        position: absolute;
        top: 50%;left: 50%;
        width: 100px;
        height: 100px;
        transform: translate(-50%,-50%) scale(0);
        background: rgba(0,0,0,.1);
        border-radius: 50%;
        transition: all 0s;
      }
      &:hover {
        &:before {
          transform: translate(-50%,-50%) scale(2);
          opacity: 0;
        transition: all 1s;
        }
      }
      svg {
        margin-right: 10px;
        color: var(--main);
      }
      &:nth-child(even) {
        background: var(--grey);
        svg {
          color: var(--black);
        }
      }
      &.primary {
        background: var(--main);
        color: var(--white);
        svg {
          color: var(--white);
        }
      }
      &.secondary {
        background: var(--yellow);
        color: var(--white);
        svg {
          color: var(--white);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .companyCard {
    .extraInfo {
      .extraCol {
        width: 50%;
      }
    }
    .actions {
      button {
        flex-wrap: wrap;
        svg {
          font-size: 150%;
          margin-bottom: 8px;
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .companyCard {
    .extraInfo {
      .extraCol {
        width: 100%;
      }
    }
    .actions {
      button {
        font-size: 0;
        padding: 12px 4px 8px 4px;
        svg {
          font-size: 18px;
        }
      }
    }
  }
}