.HeaderComponent {
  background: white;
  padding: 12px 20px;
  border-bottom: 1px solid var(--grey);
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  .title, .actions {
    width: 100%;
  }
  .title {
    font-weight: bold;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:12px;
    text-align: right;
    white-space: nowrap;
    button {
      appearance: none;
      white-space: nowrap;
      display: inline-block;
      padding: 12px 24px;
      border-radius: 24px;
      border-width: 0;
      background: var(--main);
      color: var(--white);
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      transition: all .6s;
      &:hover {
        opacity: .8;
      }
    }
  }
}

@media (max-width: 600px) {
  .HeaderComponent {
    flex-wrap: wrap;
    .actions {
      white-space: normal;
      width: 100%;
      padding: 8px 0 0;
    }
  }
}